.e-link,
a[not='class'] {
    border-color: var(--secondary);
    color: var(--secondary);
}

.e-link:hover,
a[not='class']:hover,
.e-link:focus,
a[not='class']:focus,
.e-link:visited,
a[not='class']:visited,
.e-link:active,
a[not='class']:active {
    border-color: var(--secondary);
    color: var(--secondary);
}
