/*
    Contents
    -----------------------]
    titan-ui is a cssframework/react library
*/

@import '../../node_modules/@titan-tooling/ui/dist/main.css';

@import './_settings/_settings.tokens.css';
@import './_settings/_settings.colors.css';
@import './_settings/_settings.fonts.extended.css';
@import './_settings/_settings.breakpoints.css';
@import './_objects/_objects.region.extended.css';
@import './_components/_components.header.css';
@import './_components/_components.footer.css';
@import './_elements/_elements.page.extended.css';
@import './_elements/_elements.headings.extended.css';
@import './_elements/_elements.buttons.extended.css';
@import './_elements/_elements.link.extended.css';
@import './_utils/_utils.helpers.css';
@import './_vendor/_vendor.prism.css';
