<footer class="o-region">
    <div class="o-region__inner c-footer__container u-text--center">
        <h2 class="e-heading e-heading--h5">
            {{ global.MADE_WITH }} <br />
            <a target="_blank" href="https://twitter.com/mattclaffey1" rel="noopener">
                {{ global.AUTHOR }}
            </a>
            🚀
        </h2>
    </div>
</footer>
