:root {
	--white: 			#fff;
	--black: 			#000;
	--purple: 		#5c4ce5;
	--blue-light: #80d9ff;
	--yellow: 		#ffc704;
	--yellow-dark: 	#e3b102;
	--grey: 				#dcdcdc;
	--gutter: 			10px;
	--gutter-large: 20px;
	--breakpoint-small: 30em;
	--breakpoint-medium: 48em;
	--breakpoint-large: 64em;
	--four-by-three: calc(3 / 4 * 100%);
	--sixteen-by-nine: calc(9 / 16 * 100%);
	--f-title: 'lemon_birdregular';
}

* {
	box-sizing: border-box;
}


@font-face {
    font-family: 'lemon_birdregular';
    src: url('/_assets/fonts/lemonbird-regular-webfont.woff2') format('woff2'),
        url('/_assets/fonts/lemonbird-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('/_assets/fonts/Roboto-Bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('/_assets/fonts/Roboto-Light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */button,hr,input{overflow:visible}audio,canvas,progress,video{display:inline-block}progress,sub,sup{vertical-align:baseline}[type=checkbox],[type=radio],legend{box-sizing:border-box;padding:0}html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative}sub{bottom:-.25em}sup{top:-.5em}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,select{text-transform:none}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px}fieldset{padding:.35em .75em .625em}legend{color:inherit;display:table;max-width:100%;white-space:normal}textarea{overflow:auto}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}[hidden],template{display:none}

body {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.h1,
h1,
.h2,
h2 {
	font-family: 'robotobold';
}

.h1,
h1 {
	font-size: 1.5em;
	line-height: 1.2em;
	font-weight: bold;
}

.h2,
h2 {
	font-size: 1.5em;
	line-height: 1.2em;
	font-weight: bold;
}

.body,
p,
a,
li {
	color: var(--black);
	font-family: 'robotolight';
	font-size: 1em;
	line-height: 1.4em;
	font-weight: 300;
}

/*

	Wrappers

*/

.wrapper {
	padding: calc(var(--gutter-large) * 2) var(--gutter-large);
}

@media(min-width: 48em) {
	.wrapper {
		padding: calc(var(--gutter-large) * 4) var(--gutter-large);
	}
}

.wrapper--purple {
	background-color: var(--purple);
}

.wrapper--yellow {
	background-color: var(--yellow);
}

.wrapper--lightblue {
	background-color: var(--blue-light);
}

.wrapper__inner {
	margin: 0 auto;
	max-width: 1024px;
}

/*

	Card

*/

.card {
	background-color: var(--white);
	width: 100%;
}

.portfolio .card {
	box-shadow: 0px 3px 10px 2px var(--yellow-dark);
	transition: box-shadow 0.3s ease-in-out;
	-webkit-transition: box-shadow 0.3s ease-in-out;
	-moz-transition: box-shadow 0.3s ease-in-out;
}


.portfolio .card:hover {
	box-shadow: 0px 0px 2px 2px var(--yellow-dark);
}

.card__heading {
	background-color: var(--white);
	font-weight: bold;
	padding: var(--gutter-large) var(--gutter);
	position: relative;
	z-index: 2;
}

/*

	Picture Element

*/

.picture {
	background-color: var(--grey);
	position: relative;
	overflow: hidden;
	margin: 0;
}

.picture--xs-16x9 {
	padding-top: var(--sixteen-by-nine)
}

@media(min-width: 30em) {
	.picture--sm-4x3 {
		padding-top: var(--four-by-three);
	}
}

.picture .image,
.picture .iframe {
	display: block;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.picture .iframe {
	height: 100%;
}

/*

	Banner

*/

.banner {
	margin-top: calc(var(--gutter-large) * 3);
	text-align: center;
}

@media(min-width: 30em) {
	.banner {
		margin-top: 0;
	}
}

.banner__content {
	color: var(--white);
	margin: 0 auto;
	max-width: 30em;
}

.banner__heading {
	font-weight: 300;
}

.banner__heading--logo {
	display: block;
	font-family: var(--f-title);
	font-size: 6em;
	font-weight: normal;
	line-height: 1em;
	margin-bottom: var(--gutter);
}

/*

	Portfolio Wrapper

*/

.portfolio .h2 {
	color: var(--white);
}

@media(max-width: 48em) {
	.portfolio .h2 {
		text-align: center;
	}
}

.portfolio__list {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

.portfolio__item {
	border: var(--gutter) solid var(--yellow);
	transition: width 0.3s ease-in-out;
	-webkit-transition: width 0.3s ease-in-out;
	-moz-transition: width 0.3s ease-in-out;
	width: 100%;
}

@media(min-width: 30em) {
	.portfolio__item {
		width: 50%;
	}
}

@media(min-width: 48em) {
	.portfolio__item {
		width: 33%;
	}
}

/*

	Latest video

*/

.latest-video {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
}

.latest-video__block {
	transition: width 0.3s ease-in-out;
	-webkit-transition: width 0.3s ease-in-out;
	-moz-transition: width 0.3s ease-in-out;
	width: 100%;
}

.latest-video .latest-video__block:first-child {
	padding-right: var(--gutter-large);
}

@media (min-width: 48em) {
	.latest-video__block {
		width: 50%;
	}
}


/*

	Contact us

*/

.contact {
	text-align: center;
}

.contact__content {
	max-width: 30em;
}

.contact__cta-block {
	margin-top: calc(var(--gutter-large) * 2);
}

.contact__cta-block .btn {
	margin-bottom: var(--gutter);
	width: 49%;
}


.btn {
	color: var(--white);
	display: inline-block;
	font-family: 'robotobold';
	padding: var(--gutter) var(--gutter-large);
	text-decoration: none;
	text-align: center;
	transition: background-color 200ms linear;
	-webkit-transition: background-color 200ms linear;
	-moz-transition: background-color 200ms linear;
}


.btn--facebook {
	background-color: #3b5998;
	border-bottom: calc(var(--gutter) / 2) solid #22407F;
}

.btn--facebook:hover,
.btn--facebook:active,
.btn--facebook:focus {
		background-color: #22407F;
}

.btn--twitter {
	background-color: #1da1f2;
	border-bottom: calc(var(--gutter) / 2) solid #0488D9;
}

.btn--twitter:hover,
.btn--twitter:active,
.btn--twitter:focus {
		background-color: #0488D9;
}

.btn--instagram {
	background-color: #405de6;
	border-bottom: calc(var(--gutter) / 2) solid #2744CD;
}

.btn--instagram:hover,
.btn--instagram:active,
.btn--instagram:focus {
		background-color: #2744CD;
}

.btn--youtube {
	background-color: #cd201f;
	border-bottom: calc(var(--gutter) / 2) solid #B40706;
}

.btn--youtube:hover,
.btn--youtube:active,
.btn--youtube:focus {
		background-color: #B40706;
}

.btn--yellow {
	background-color: var(--yellow);
	border-bottom: calc(var(--gutter) / 2) solid var(--yellow-dark);
}

.btn--yellow:hover,
.btn--yellow:active,
.btn--yellow:focus {
		background-color: var(--yellow-dark);
}


/*

	Site header

*/

.site-header {
	left: 0;
	height: 60px;
	position: absolute;
	top: 0;
	width: 100%;
}

.site-header__icon {
	color: var(--white);
	float: right;
	margin: var(--gutter-large);
	text-decoration: none;
}

.site-header__nav {
	background-color: var(--white);
	height: 100%;
	right: 0;
	position: fixed;
	top: 0;
	transform: translateX(100%);
	-webkit-transform: translateX(300px);
	-moz-transform: translateX(300px);
	transition: transform 200ms ease-in-out;
	-webkit-transition: transform 200ms ease-in-out;
	-moz-transition: transform 200ms ease-in-out;
	width: 300px;
	z-index: 4;
}

.site-header__nav-list .btn {
	display: block;
	margin-top: var(--gutter);
}

.site-header__nav-list {
	list-style: none;
	padding: 0;
}

.site-header__nav-image {
	display: none;
}

@media(min-width: 64em) {
	.site-header__nav-image {
		display: inline-block;
		margin: 0 auto;
		margin-right: var(--gutter-large);
		width: 60%;
		vertical-align: middle;
	}
}

.site-header__nav-link {
	text-decoration: none;
}


.site-header__nav-list li {
	display: block;
	border-bottom: 1px solid var(--grey);
	padding: var(--gutter-large);
}

.site-header__nav-list li:last-child {
	border-bottom: 0;
}

.no-js #open-nav:target .site-header__nav,
[data-nav-state="open"] .site-header__nav {
	transform: translateX(0);
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
}

.overlay {
	background: transparent;
	transition: background 200ms ease-in-out;
	-webkit-transition: background 200ms ease-in-out;
	-moz-transition: background 200ms ease-in-out;
	visibility: hidden;
	overflow: hidden;
	height: 0;
}

.no-js #open-nav:target .overlay,
[data-nav-state="open"] .overlay {
	background: rgba(0, 0, 0, 0.3);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	visibility: visible;
	z-index: 3;
	width: 100%;
}
