<header class="o-region c-header {% if offline %} c-header--offline {% endif %}" style="--region-bg: var(--primary); --region-text-color: var(--white);">
  <div class="o-region__inner c-header__container">
    <div>
      <h1 class="e-heading e-heading--h2 c-header__heading">
          {% if offline %}
              <span class="c-header__heading-highlight" style="--header-highlight-color: var(--secondary);">{{offlineTitle}}</span>
              <br /><span class="c-header__heading-highlight c-heading__heading-sub-heading" style="--header-highlight-color: var(--secondary-light)">{{offlineDescription}}</span>
            {% else %}
              <span class="c-header__heading-highlight" style="--header-highlight-color: var(--secondary);">{{metadata.title}}</span>
              {% if title %} <br /><span class="c-header__heading-highlight c-heading__heading-sub-heading" style="--header-highlight-color: var(--secondary-light)">{{title}}</span> {% endif %}
          {% endif %}
      </h1>
      {% if offline %}
        <a href=".?utm_source=offline-page" class="c-button c-button--secondary">Return Home</a>
        {% else %}
          {% if description or global.INTRO %} <p class="e-text u-text--short u-text--larger@md">{{description or global.INTRO}}</p> {% endif %}
      {% endif %}
    </div>
  </div>
</header>
