---
layout: layouts/home.njk
permalink: /posts/
---

<section class="o-region">
  <div class="o-region__inner">
    <h2 class="e-heading e-heading--h2 u-visually-hidden">Contents</h2>

    {% set postslist = collections.posts %}
    {% include "postslist.njk" %}
  </div>
</section>
