---
layout: layouts/home.njk
---

<section class="o-region">
  <div class="o-region__inner o-region__inner--thin">
    <h2 class="e-heading e-heading--h2 u-visually-hidden">Contents</h2>

    {% set postslist = collections.posts %}
    {% include "postslist.njk" %}
  </div>
</section>

