/* Page extension of titan ui */

.e-text {
    font-size: var(--base-font-size);
    line-height: var(--base-line-height);
    font-family: var(--base-font-family);
    font-weight: var(--base-font-weight-medium);
}

html {
    scroll-behavior: smooth;
}

main p,
main h1,
main h2,
main h3,
main h4,
main h5,
main ul,
main pre {
    margin-bottom: 30px;
}
